*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid blue;
}

.searchBar{
    /* border: 1px solid red; */
    width:300px;
    display: flex;
    justify-content: space-around;
    height: 23px;
}

.brandName{
    font-size: 24px;
}



::-webkit-scrollbar{
    
    display: none;
}

.categories{
    display: flex;
    overflow-x: scroll;
    border: 1px solid blue;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.categories div{
    border: 1px solid red;
    padding: 10px;
}